.analyze-page {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 2em 2em;
    margin: 2em auto;
}

.analyze-box {
    display: block;
    // border: 1px solid $font-color;
    padding: 2em;
    transition: all 250ms ease-in-out;

    & .preview-text {
        display: block;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0;
        border: 1em solid transparent;
    }

    & .link {
        display: block;
        margin: 1em auto;
        padding: 4px 16px;
        background-color: transparent;
        border-radius: 26px;
        color: transparentize($accent-color-contrast, 0.2);
        border: 2px solid transparentize($accent-color-contrast, 0.2);
        text-decoration: none;
        text-align: center;
        transition: all 250ms ease-in-out; 

        &:hover {
            color: opacify($accent-color-contrast, 1);
            border-color: opacify($accent-color-contrast, 1);
        }
    }

    &:hover {
        box-shadow: 10px 10px 5px 0px transparentize(invert($font-color), 0.6);
    }
}

@media screen and (min-width: 360px) {
    .analyze-page {
        grid-template-columns: 100% 100% auto;
    }

    .analyze-box {
        &.title {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }

        &.colors {
            grid-column: 1 / 1;
            grid-row: 2 / 4;
        }

        &.load {
            grid-column: 1 / 1;
            grid-row: 4 / 6;
        }

        &.design-principles {
            grid-column: 1 / 1;
            grid-row: 6 / 8;
        }
    }
}

@media screen and (min-width: 680px) {
    .analyze-page {
        grid-template-columns: 30% 30% auto;
    }

    .analyze-box {
        &.title {
            grid-column: 1 / 6;
            grid-row: 1 / 1;
        }

        &.colors {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }

        &.load {
            grid-column: 2 / 6;
            grid-row: 2 / 4;
        }

        &.design-principles {
            grid-column: 1 / 6;
            grid-row: 4 / 6;
        }
    }
}