body {
    background-color: $background-color;
}

img {
    filter: grayscale(80%) contrast(105%) drop-shadow(12px 12px 6px transparentize(darken($accent-color, 20%), 0.8));
    border-radius: 8px;
    outline: 1px solid invert($background-color);
    transition: all 250ms ease-in-out;

    &:hover {
        filter: grayscale(20%) contrast(105%) drop-shadow(12px 12px 6px transparentize(darken($accent-color, 20%), 0.8));
        transform: scale(1.125);
    }
}
