/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid $code-border-color;
    border-radius: 0.3em;
    color: $code-color;
    background: $code-background-color;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    word-wrap: break-word;
}

pre {
    margin: 2em 0;
    padding: 1em 1.5em;
    border: 1px solid $pre-border-color;
    border-radius: 0.3em;
    color: $pre-color;
    background: $pre-background-color;

    code {
        display: block;
        margin: 0;
        padding: 1.1111em 0;
        border: 0 none;
        background: transparent;
        overflow-x: auto;
        line-height: 1.4;
    }
}
