.header {
    .title {
        padding: 0.5em 2em;
    }

    @media (max-width: 480px) {
        .site-header {
            display: none;
        }

        .nav ul li a {
            font-size: 1.25rem;
        }
    }

    @media (min-width: 800px) {
        .site-header {
            display: block;
        }

        .nav ul li a {
            font-size: 1rem;
        }
    }
}

.logo img {
    max-width: 128px;
    aspect-ratio: 600 / 600;
    border-radius: 50%;
}

.logo {
    padding: 2em 4em;
}
