@mixin text-contrast($color) {
    @if lightness($color) < 50 {
        color: white;
    } @else {
        color: black;
    }

    background-color: $color;
}

.analysis-page {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 2em 2em;
    margin: 2em auto;

    .menu ul li {
        list-style: none;
        margin: 2em auto;

        &.active {
            & a {
                text-decoration: underline;
                color: $accent-color;
            }
        }

        & a {
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: transparentize($font-color, 0.5);

            &:hover {
                color: opacify($font-color, 1);
            }
        }
    }

    table {
        border-spacing: 1rem;
        padding: 0 1em;
        margin: 2em auto;
        border: 1px solid #ccc;
        border-radius: 0.3em;
        background-color: #f5f5f5;

        tr td {
            font-family: monospace;
            font-weight: bold;
            border-radius: 4px;
            border: 2px solid #ccc;

            width: 80px;
            height: 80px;
            font-size: 12px;
            text-align: center;
            color: white;

            $table-shadow-color: rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 11px -3px $table-shadow-color;
            -webkit-box-shadow: 5px 5px 11px -3px $table-shadow-color;
            -moz-box-shadow: 5px 5px 11px -3px $table-shadow-color;
        }
    }
}

.excel iframe {
    width: 100%;
    min-height: 30em;
    margin-bottom: 2em;
}

@mixin cell {
    border: 1px solid $accent-color;
    padding: 1rem;
    grid-row: 1 / 10;
}

@media screen and (min-width: 360px) {
    .analysis-page {
        grid-template-columns: 100% 100% auto;

        .content {
            @include cell;
            grid-column: 1 / 1;
        }

        .menu {
            display: none;
        }
    }
}

@media screen and (min-width: 680px) {
    .analysis-page {
        grid-template-columns: 30% 30% auto;

        .content {
            @include cell;
            grid-column: 2 / 6;
        }

        .menu {
            display: block;
            @include cell;
            grid-column: 1 / 2;
        }
    }
}
