@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'base';

@import 'typography';
@import 'technologies';
@import 'technology';
@import 'analysis';
@import 'report';

@import 'header';
@import 'blockquotes';
@import 'figure';
@import 'code';
@import 'nav';
@import 'footer';

pre {
    color: invert($font-color);
    background-color: invert($background-color);
    font-size: 1rem;
}
