.technology-page {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 2em 2em;
    margin: 2em auto;

    .menu ul li {
        list-style: none;
        margin: 2em auto;

        &.active {
            & a {
                text-decoration: underline;
                color: black;
            }
        }

        & a {
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: rgba(#333, 0.5);

            &:hover {
                color: rgba(#333, 1);
            }
        }
    }
}

@mixin cell {
    border: 1px solid #333;
    padding: 1rem;
    grid-row: 1 / 10;
}

@media screen and (min-width: 360px) {
    .technology-page {
        grid-template-columns: 100% 100% auto;

        .content {
            @include cell;
            grid-column: 1 / 1;
        }

        .menu {
            display: none;
        }
    }
}

@media screen and (min-width: 680px) {
    .technology-page {
        grid-template-columns: 30% 30% auto;

        .content {
            @include cell;
            grid-column: 2 / 6;
        }

        .menu {
            display: block;
            @include cell;
            grid-column: 1 / 2;
        }
    }
}

