@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height;
    color: $font-color;
}

h1 {
    font-size: 3em;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Inter', sans-serif;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: 'Lora', serif;
}

a {
    color: $font-alternative-color;

    &:hover {
        color: lighten($font-alternative-color, 10%);
    }
}

.main {
    max-width: 67rem;
    min-height: 50em;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.introduction p:first-child::first-letter {
    font-size: 2rem;
    font-weight: 400;
}

.floaty-left img {
    margin: 0 2rem 1rem 0;
}
