$font-color: #F8F9FA;
$font-alternative-color: #CED4DA;
$accent-color: #2687e8;
$background-color: #343A40;
$background-alternative-color: #e0fbfc;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;

$header-background-color: #212529;
$footer-background-color: #212529;
