$font-color: #343A40;
$font-alternative-color: #6C757D;
$accent-color: #5b98d5;
$background-color: #F8F9FA;
$background-alternative-color: #e0fbfc;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;

$header-background-color: #212529;
$footer-background-color: #212529;
