{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="analysis-page">
            <article class="content">
                {{ content }}
            </article>
            <aside class="menu">
                <ul>
                    <li{% if "analysis/01_colors"==current_page.id %} class="active" {% endif %}><a href="01_colors">01 Colors</a></li>
                    <li{% if "analysis/02_load"==current_page.id %} class="active" {% endif %}><a href="02_load">02 Load</a></li>
                    <li{% if "analysis/03_design_principles"==current_page.id %} class="active" {% endif %}><a href="03_design_principles">03 Design Principles</a></li>
                </ul>
            </aside>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
