{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="technology-page">
            <article class="content">
                {{ content }}
            </article>
            <aside class="menu">
                <ul>
                    <li{% if "technology/css"==current_page.id %} class="active" {% endif %}><a href="css">CSS</a></li>
                    <li{% if "technology/git"==current_page.id %} class="active" {% endif %}><a href="git">Git</a></li>
                    <li{% if "technology/html"==current_page.id %} class="active" {% endif %}><a href="html">HTML</a></li>
                    <li{% if "technology/javascript"==current_page.id %} class="active" {% endif %}><a href="javascript">JavaScript</a></li>
                    <li{% if "technology/php"==current_page.id %} class="active" {% endif %}><a href="php">PHP</a></li>
                    <li{% if "technology/python"==current_page.id %} class="active" {% endif %}><a href="python">Python</a></li>
                    <li{% if "technology/sqlite"==current_page.id %} class="active" {% endif %}><a href="sqlite">SQLite</a></li>
                </ul>
            </aside>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
