{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="technology-page">
            <article class="content">
                {{ content }}
            </article>
            <aside class="menu">
                <ul>
                    <li{% if "technologies/css"==current_page.id %} class="active" {% endif %}><a href="css">CSS</a></li>
                    <li{% if "technologies/git"==current_page.id %} class="active" {% endif %}><a href="git">Git</a></li>
                    <li{% if "technologies/html"==current_page.id %} class="active" {% endif %}><a href="html">HTML</a></li>
                    <li{% if "technologies/javascript"==current_page.id %} class="active" {% endif %}><a href="javascript">JavaScript</a></li>
                    <li{% if "technologies/php"==current_page.id %} class="active" {% endif %}><a href="php">PHP</a></li>
                    <li{% if "technologies/python"==current_page.id %} class="active" {% endif %}><a href="python">Python</a></li>
                    <li{% if "technologies/sqlite"==current_page.id %} class="active" {% endif %}><a href="sqlite">SQLite</a></li>
                </ul>
            </aside>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
